<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.invisblemirror">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.invisiblemirror.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.invisiblemirror.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.invisiblemirror.mover.MoveActivity" />

        <receiver
            android:name="com.example.invisiblemirror.TestReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.invisiblemirror.ALARM_START" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.example.invisiblemirror.mover.AlarmSoundService"
            android:enabled="true" />
        <service
            android:name="com.example.invisiblemirror.keyboard.inputmethod.SoftKeyboard"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <activity
            android:name="com.example.invisiblemirror.keyboard.inputmethod.KeyboardSettings"
            android:label="@string/english_ime_settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.invisiblemirror.keycounter.KeyCheckActivity"></activity>
    </application>

</manifest>